* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Serif", serif;
    background-color: #EEE8E4;
    overflow: hidden;
}
body.active {
    overflow: auto;
}
.horizontal-container {
    display: flex;
    height: 70vh;
    position: relative;
    width: 100%;
}
.noto-serif-400 {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.noto-serif-700 {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
#landing-section {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
}